# Byte-compiled
__pycache__/
*$py.class

# Distrib / packaging
.Python
build/
dist/
sdist/
develop-eggs/
eggs/
.eggs/

# Unit test / cov reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
coverage.*
cover/

# Environments
.env
.venv
env/
venv/
ENV/
venv
cache

# Jupyter Notebook
.ipynb_checkpoints/

# IDE conf
.vscode/